@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

body.light {
  --force-white: #fff;
  --color-roxo: #821cd0;
  --color-roxo-accent: #a02ee1;
  --color-accent: #0060ff;
  --color-bg: #fff;
  --color-bg-accent: #f4f4f4;
  --color-button: #f4f4f4;
  --color-button-hover: #121212;
  --color-border: #e4e4e4;
  --color-text: #303030;
  --color-text-half-opacity: rgba(48, 48, 48, 0.1);
  --color-text-secondary: #eeeeee;
  --gradient-default: var(--color-bg), var(--color-bg-accent), var(--color-bg);
  --gradient-purple: var(--color-roxo), var(--color-roxo-accent), var(--color-roxo);
  --gradient-text-purple: var(--color-text), var(--color-roxo) 80%;
  --is-dark-theme: 0;
  --main-padding: 6rem 2rem;
  --main-padding-vertical: 6rem;
  --main-padding-horizontal: 2rem;
  --color-floating-icon: var(--color-roxo);
  --color-form-border: var(--color-border);
  --color-form-success: var(--color-bg-accent);
  --color-form-input: var(--color-bg);
  --color-form-placeholder: var(--color-text);
  --navbar-height: 88px;
  --navbar-height-mobile: 72px;
}

body.dark {
  --force-white: #fff;
  --color-roxo: #821cd0;
  --color-roxo-accent: #a02ee1;
  --color-accent: #0060ff;
  --color-bg: #000;
  --color-bg-accent: #121212;
  --color-button: #121212;
  --color-button-hover: #fff;
  --color-border: #292929;
  --color-text: #eeeeee;
  --color-text-half-opacity: rgba(255, 255, 255, 0.1);
  --gradient-default: var(--color-bg), var(--color-bg-accent), var(--color-bg);
  --color-text-secondary: #303030;
  --gradient-purple: var(--color-roxo), var(--color-roxo-accent), var(--color-roxo);
  --gradient-text-purple: var(--color-text), var(--color-roxo) 80%;
  --is-dark-theme: 1;
  --main-padding: 6rem 2rem;
  --main-padding-vertical: 6rem;
  --main-padding-horizontal: 2rem;
  --color-floating-icon: var(--color-roxo);
  --color-form-border: var(--color-border);
  --color-form-success: var(--color-bg-accent);
  --color-form-input: var(--color-bg-accent);
  --color-form-placeholder: var(--color-text);
  --navbar-height: 88px;
  --navbar-height-mobile: 72px;
}

$force-white: var(--force-white);
$color-roxo: var(--color-roxo);
$color-roxo-accent: var(--color-roxo-accent);
$color-accent: var(--color-accent);
$color-bg-accent: var(--color-bg-accent);
$color-text: var(--color-text);
$color-text-half-opacity: var(--color-text-half-opacity);
$color-bg: var(--color-bg);
$color-button: var(--color-button);
$color-button-hover: var(--color-button-hover);
$color-border: var(--color-border);
$color-text-secondary: var(--color-text-secondary);
$gradient-default: var(--gradient-default);
$gradient-purple: var(--gradient-purple);
$gradient-text-purple: var(--gradient-text-purple);
$navbar-height: var(--navbar-height);
$navbar-height-mobile: var(--navbar-height-mobile);
$main-padding-vertical: var(--main-padding-vertical);
$main-padding-horizontal: var(--main-padding-horizontal);

$transition-fast: 100ms;
$transition-default: 300ms;
$transition-slow: 500ms;

html {
  scroll-behavior: smooth;
}

section {
  scroll-snap-align: start;
  scroll-margin: 88px;
  @media screen and (max-width: 768px) {
    scroll-margin: 96px;    
  }
}

#root,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "League Spartan", sans-serif;
  min-height: 100vh;
  background: $color-bg;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  transition: background-color $transition-default ease;
  position: relative;

  * > * {
    box-sizing: border-box;
  }
}

main {
  margin: 0 auto;
  max-width: 920px;
  display: grid;
  gap: 1.5rem;
  position: relative;
  z-index: 2;
  padding: $main-padding-vertical $main-padding-horizontal;
}

@media screen and (max-width: 768px) {
  body.light, body.dark {
    --main-padding-vertical: 4rem;
    --main-padding-horizontal: 1rem;
  }
}
